/.idea/
/.vscode/
/.metals/
target/
project/project/
project/target/
FinnhubProducer/__pycache__
FinnhubProducer/utils/__pycache__
FinnhubProducer/src/__pycache__
FinnhubProducer/src/utils/__pycache__
StreamProcessor/spark/target/dependency
unneeded/
