version: "3.6"

services:

  zookeeper:
    image: confluentinc/cp-zookeeper:6.2.0
    container_name: zookeeper
    networks:
      - pipeline-network
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    build:
      context: ./kafka
      dockerfile: Dockerfile
    container_name: kafka

  kafdrop:
    image: obsidiandynamics/kafdrop:3.27.0
    container_name: kafdrop

  spark-k8s:
    build:
      context: ./StreamProcessor
      dockerfile: Dockerfile.k8s
    container_name: spark-k8s

  cassandra:
    build:
      context: ./cassandra
      dockerfile: Dockerfile
    container_name: cassandra

  finnhubproducer:
    build:
      context: ./FinnhubProducer
      dockerfile: Dockerfile
    container_name: FinnhubProducer
  
  grafana:
    build:
      context: ./grafana
      dockerfile: Dockerfile
    container_name: grafana
